<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="css.style.css" />
  </head>
  <body>
    <table>
      <th>Spreukniveau</th>
      <td>level 1</td>
      <td>level 2</td>
      <td>level 3</td>
      <td>level 4</td>
      <td>level 5</td>
      <td>level 6</td>

      <th>aantal spreuken</th>
      <td></td>
    </table>
  </body>
</html>
